* {
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
justify-content: center;
align-items: center;

  /* Patrón repetido */
  background-image: url("https://previews.123rf.com/images/ylivdesign/ylivdesign1704/ylivdesign170407495/76679347-headphone-pattern-vector.jpg");
  background-repeat: repeat;
  background-size: 200px; /* Ajusta el tamaño del patrón */
  background-position: center;
  position: relative;

}

/* Capa blanca semitransparente para crear la opacidad del patrón */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(88, 15, 31, 0.75); /* <--- ajusta opacidad */
  z-index: -1;
  
}

/* ======== CONTENEDOR PRINCIPAL ======== */

.container {
  background: #ffffff;
  width: 90%;
  max-width: 420px;
  padding: 2rem;
  border-radius: 14px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.08);
  text-align: center;
}

h1 {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  margin-bottom: 1.5rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #530214;
}

/* ======== INPUT ======== */

p {
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #929090;
    background-color: #f5f5f5;
}

label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: block;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  text-align: center;
}

.input-box {
  background: #fff;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.10);
  margin-bottom: 0.8rem;
  transition: box-shadow 0.2s ease;
}

.input-box:focus-within {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

input {
  width: 100%;
  font-size: 1rem;
  padding: 0.6rem;
  border: none;
  outline: none;
}

/* ======== BOTÓN ======== */

button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  padding: 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: #530214;
  color: white;
  cursor: pointer;
  margin-top: 0.6rem;
  transition: background 0.2s, transform 0.1s;
}

button:hover {
  background: #c5125c;
}

button:active {
  transform: scale(0.97);
}

/* ======== MENSAJES ======== */

.hint {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 0.6rem;
}

.error {
  color: #c62828;
  margin-top: 0.7rem;
  font-weight: 500;
}

.result {
  margin-top: 1.2rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: #6d0715;
}

.result.success {
  color: #4e0622;
}
